<h1>Welcome to Blackjack</h1>
<p>Dealer holds:
<ul>
	<% session[:dealer_hand].each do |card| %>
		<img src="/images/cards/<%= image_helper card %>">
	<% end %>
	<li>Total Score: <%= calculate_total(session[:dealer_hand]).to_s %></li>
</ul>

<%= session[:name] %> holds:
<ul>
	<% session[:player_hand].each do |card| %>
		<img src="/images/cards/<%= image_helper card %>">
	<% end %>
		<li>Total Score: <%= calculate_total(session[:player_hand]).to_s %></li>
</ul>

<%= erb :hit_stay_buttons unless session[:player_done] %>